<template>
  <div class="beatMenu" style="width:15em;height:5em;border-radius:0.5em;margin:1em;background:cadetblue">
    <input style="" id="quanteSuddivisioni" v-model="divisioni" type="number">
  </div>
</template>

<script>
    export default {
      name: 'beatMenu',
      data() {
        return {
          colore: 'red',
          divisioni: 1
        }
      },
      methods: {
        Pluto: function (){
        },
        Pippo: function (){
        }
    }
    }
</script>

<style>
</style>
