<template>
  <div class="send-wrapper">
     <input type="submit" value="Submit">
      <input type="button" style="width:5em;height:2em;background:red;color:white;" value="Send!">
  </div>
</template>
<script>
    export default {
      data() {
        return {
        }
      },
      methods: {
    }
    }
</script>
<style>
</style>
